@charset "UTF-8";

html {

    background-color: sandybrown;
}

nav.horizontalNav {
	background: seagreen;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	display: flow-root;
}

ul {
	display: flow-root;
	padding: 0px;
	margin: 0px;
}

li {
	list-style-type: none;
	float: left;
	font-size: 1.3em;
	padding: 1em 0em 1em 0em;
	width: 25%;
	text-align: center;
}

li:hover {
	background: orangered;
	color: white;
}
