html {

    

}


body {

width: auto;

}

header {



}

header ul {



}

header ul li {



}

main {



}

section {

    font-size: 40px;


}

h2 {




}

.list {
   
    list-style-type: decimal-leading-zero;
    
   

}

div {

    font-size: 2em;

}